/*********************
    BREAKPOINTS
*********************/

// @include insert-device-name {
//     // Apply Styles
// }

@mixin phone {
    @media screen and (min-width: 320px) and (max-width: 480px){
        @content;
    }
}

 
@mixin phone-portrait {
    @media screen and (max-width: 320px){
        @content;
    }
}
 
@mixin phone-landscape {
    @media screen and (min-width: 321px){
        @content;
    }
}
 
@mixin tablet {
    @media screen and (max-width: 959px){
        @content;
    }
}
 
@mixin tablet-portrait {
    @media screen and (min-width: 768px){
        @content;
    }
}
 
@mixin tablet-landscape {
    @media screen and (min-width: 1024px){
        @content;
    }
}
 
@mixin desktop {
    @media screen and (min-width: 1024px) {
        @content;
    }
}
 
@mixin lg {
    @media screen and (min-width: 1824px){
        @content;
    }
}
 
@mixin rwd($screen) {
    @media (min-width: $screen+'px') {
        @content;
    }
}