@import "_variable.scss";
@import "_breakpoints.scss";

/* Veriables
==============================================*/
$primary-color: #83766d;
$headings-font: 'Playfair Display', serif;
$body-font: arial , helvetica , sans-serif;
$mobile-padding: 16px;
$desktop-padding: 36px;

/* Main
==============================================*/ 
 
html { font-size: 62.5%; }

body {
    margin: 0;
    font-size: 1.6rem;
    font-family: $body-font;
    font-weight: 300;
    font-style: normal;
    color: $primary-color;
    line-height: 3rem;
    background: url(../images/bodybg.png) repeat;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-family: $body-font;
}

h1 {
    font-size: 3.5rem;
    font-weight: 600;
}

h2 { font-size: 2.8rem; }

@include tablet-portrait {
    // h1 { font-size: 6.5rem; }
    // h2 { font-size: 4.5rem; }
} 

/* Links */
a:link {
    color: $primary-color;
    &:hover {
        color: rgba(0,0,0,0.6);
    }
}

a:visited, a:active { color: $primary-color; }

/* Inputs */
input {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 1.5rem;
}
textarea{
    font-size: 1.5rem;
    padding: 1rem;
}

/* Layout Elements
==============================================*/


.button {
    display: inline-block;
    color: $primary-color;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    border: 2px solid $primary-color;

    @include tablet-portrait {
        font-size: 1.6rem;
    }
}

.button-white {
    background-color: $text-secondary;
}

section, footer, .content-area, main {
    margin: 0 auto;
    // padding: $mobile-padding;

    @include tablet-portrait {
        // padding: $desktop-padding;
    }
}


/* Header
==============================================*/
header{
    position: relative;
}
.widget{
    margin: 0;
}
.site{
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;

    @include tablet{
        padding: 0 5px;
    }
}

.header-bottom{

    position: relative;

    @include tablet{
        background: #ED145B;
        border-bottom: 1px solid #fff;
    }
    .site-branding__mobile{
        display: none;
        text-align: center;
        padding: 5px 0 0;

        @include tablet{
            display: block;
        }
    }
    .menu-toggle{
        display: none;
        background: $background-secondary;
        border: 0;
        border-radius: 0;
        font-size: 3rem;
        outline-offset: 0;
        overflow: unset;
        padding-left: 0;
        cursor: pointer;

        &:focus{
            outline: 0;
        }

        @include tablet{
            background: none;
            display: block;
            position: absolute;
            animation-delay: 0;
            left: 0;
            padding: 0;
            color: #fff;
            padding: 10px;
        }
    }
    .site-branding{
        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: 99;
        background: url(../images/bodybg.png) repeat;
        padding: 0 5rem;
        transition: all .5s ease-in-out;

        &:hover{
            transform: translate(-50%, -5px);
        }

        &__title{
            margin: 0;
        }
        
        @include tablet{
            display: none;
        }
    }
}

.main-navigation{
    margin: 2rem 0;

    @include tablet{
        position: absolute;
        top: 103px;
        z-index: 999;
        display: none;
        background: #ED145B;
        margin: 0;
    }

    ul.menu{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 0;
            padding: 0;
            position: relative;

            @include tablet{
                display: block;
            }
           
            li{
                display: inline-block;
                line-height: initial;
                // border-bottom: 1px solid $text-priamry;
                a{
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    text-decoration: none;
                    padding: 1.5rem 0;
                    display: block;
                    transition: all .5s ease-in-out;
                    position: relative;
                    font-weight: bold;

                    @include tablet{
                        color: #fff;
                    }

                    &:hover{
                        &::before {
                            width: 100%;
                            transition: all 0.5s ease-in-out;
                            
                          }
                    }

                    &::before {
                        content: attr(data-hover);
                        -webkit-transition: 0.5s;
                        transition: 0.5s;
                        color: $background-priamry;
                        position: absolute;
                        top: 50%;
                        overflow: hidden;
                        margin-top: -9px;
                        width: 0;
                        white-space: nowrap;
                    }
                }

                @include tablet{
                    display: block;
                    padding-left: 1.5rem;
                    border-bottom: 1px solid #fff;
                    
                }

            }
            li.logo-custom{

                a{
                    text-indent: -999px;
                    // background: url(../images/logo.png) no-repeat center top;
                    padding: 4rem 13rem 0;
                    position: relative;
                    z-index: 9;
                } 

                @include tablet{
                    display: none;
                }
                
            }
            &::before{
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                top: 0;
                left: 0;
                background: url(../images/line_1.png) repeat-x left;
                
                @include tablet{
                    display: none;
                }
            }
            &::after{
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                bottom: 10px;
                left: 0;
                background: url(../images/line_1.png) repeat-x left;

                @include tablet{
                    display: none;
                }
            }
    }

}
.header-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: center;
    margin: 2rem 0 0;
}
.header-search{


    #secondary{
        // display: flex;
        // flex-wrap: wrap;
        // align-items: center;
        // justify-content: center;
    }
    #secondary button{
        width: 36px;
        float: right;
        text-indent: -999px;
        background: url(../images/search.svg) no-repeat center;
        background-size: 16px;
        position: relative;
        border: 0;
        outline: 0;
        height: 36px;
    }
    #secondary .search-field{
        border: 0;
        margin: 0;
        outline: 0;
    }
    #secondary .search-form label{
        margin: 0;
    }
    #secondary {

        .woocommerce-product-search{
            border: 1px solid $background-border;
            display: block;
            margin: 0;
            padding: .225rem;
            // background: $background-secondary;
        }
        
    }
}

.header-cart{
	margin: 0 0 0 15px;
	color: $text-secondary !important;
	font-size: 1.5rem;
    .icon{
        line-height: 18px;
        color: $text-priamry;
        background: url(../images/shopping-bag.svg) no-repeat 0 0;
        background-size: 36px;
        display: inline-block;
        padding: 14px;
    }
}


/* Mobile Menu
==============================================*/
.over-layout{
    overflow-y: hidden;
}

.over-layout {

    .pre-scrim{
        position: absolute;
        opacity:1;
        z-index: 1;
        // visibility: hidden;
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: opacity .25s,visibility 0s linear .25s;
        background-color: hsla(0,0%,7%,.36);
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
    }
}
.mobile-menu { 
    display: none;
    margin-top: 80px;

    .menu {
        padding: 0;
        list-style-type: none;

        a {
            padding: 0.6rem 1rem;
            display: block;
            text-align: center;
            text-decoration: none;
        }
    
        .menu-item {
            &:hover .sub-menu {
                display: block;
            }
        }
    }

    .sub-menu {
        display: none;
        padding: 0;
        background-color: $text-secondary;
        min-width: 140px;
        z-index: 1;

        .menu-item {
            padding: 0;
            display: block;

            a {
                text-decoration: none;
                display: block;
                padding: 0.6rem 1rem;

                li {
                    padding: 0;
                    display: block;
                    text-align: center;
                }

                &:hover {
                    background-color: #ddd;
                }
            }
        }

    }


}
.site-main{
    // background: $background-secondary ;
    // padding: 0 2rem;
}
.banner{
    margin: 0 0 4rem;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.owl-theme {

    .owl-dots {

        .owl-dot{
            border:0;
            &:focus{
                outline: 0;
            }
            span{

                width: 15px;
                height: 15px;

                &:hover{
                    background: $background-priamry;
                }
            }
        } 
    }
}

/* Categories
==============================================*/
// .categories{
//     .woocommerce-loop-category__title{
//         display: none;
//     }
//     .woocommerce {
//         ul.products {
//             li.product{
//                 margin-bottom: 0;
//             }
//         }
        
//     }
// }

// .woocommerce ul.products.columns-4 li.product {
//     width: 48%;
// }

// .woocommerce ul.products.columns-4 li.product:last-child{
//     margin-right: 0;
// }
.woocommerce .woocommerce-breadcrumb{

    background: url(../images/banner-1.jpg) no-repeat 0 0;
    padding: 5rem;
    background-size: cover;
    color:$text-secondary;

    a{
        color:$text-secondary;
    }
}
.woocommerce-sidebar{
    .widget-title{
        display: none;
    }

    .product-categories{

            text-align: center;
            padding: 0;

        li{

            display: inline-block;
            margin: 0 1rem;
            a{
                display: block;
                text-decoration: none;
                border: 1px solid #c5b9a8;
                color: #5b4840;
                padding: .5rem 1rem;
                font-size: 14px;
                text-transform: uppercase;

                &:hover{
                    background: #5b4840;
                    color: $text-secondary;
                }
                
            }

            &.current-cat{
                a{
                    background: #5b4840;
                    color: $text-secondary;
                }
                
            }
        }
    }
}

.woocommerce-products-header,
.woocommerce-result-count,
.woocommerce-ordering{
    display: none;
}

.woocommerce {
        ul.products {
            li.product{
                margin-bottom: 0;

                @include tablet{
                    margin-bottom: 0 !important;  
                }

                @include phone{
                    width: auto !important;
                    float: none !important;  
                }
                a{
                    display: block;
                    overflow: hidden;
                    img{
                        border: 1px solid #ddd;
                        padding: 5px;
                        transition: all .5s ease-in-out;                  
                    }

                    &:hover img{
                        -webkit-transform: scale(1.1);
                        -moz-transform: scale(1.1);
                        transform: scale(1.1)
                    }
                }
             }
        }
             
      }

/* Shop
==============================================*/

.shop-section{

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;

    h2,h3{
        font-family: "Arial",sans-serif;
        font-size: 1.6rem;
        font-style: italic;
    }

    &__heading{
        text-align: center;
    }
}

.form {
    &__email {
        width: 100%;
        margin-bottom: 20px;
        border-bottom: 1px solid $primary-color;
    }

    &__submit {
        width: 100%;
    }
}


/* Footer */
.site-info{

    // background: $background-dark;
    padding: 2rem 0;
    border-top: 1px solid;
    text-align: center;

   &__payment{
        display: flex;
        justify-content: space-around;

        @include tablet{
            display: block;
        }
    }
    ul{
        padding: 0;
        margin: 0;
        li{
            display: inline-block;
            padding: 1rem ;
            a{
                color: $text-secondary;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1rem;

                &:hover{
                    color: $text-secondary;
                    text-decoration: underline;
                }
            }
        }
    }
}


/* CopyRight */
.copyright {
    margin-top: 20px;
    text-align: center;

    &__social {
        a { padding: 10px; }
    }
 
    &__body { margin: 40px 0; }
}


.woocommerce .woocommerce-ordering select{
    padding: .5rem;
    font-size: 1.5rem;
}
.site-info__payment{
    img{
        max-width: 50%;
    }
}

/* Checkout */

.entry-header{
    .entry-title{
        margin:  1rem 0;
    }
}



/* Quantity*/

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  display: none;
  margin: 0;
}
.woocommerce div.product form.cart div.quantity{
    margin: 0 0 2rem;
}
.quantity {
    input.qty {
        appearance: textfield;
        -webkit-appearance: none;
        -moz-appearance: textfield;
    }
  
}
.quantity input.qty_button{
	-webkit-appearance: button;
    width: 40px;
    height: 33px;
    background: $background-priamry;
    content: "\f068";
    font-family: fontawesome;
    font-size: 14px;
    color: $text-secondary;
    text-align: center;
    line-height: 33px;
    cursor: pointer;
    border: none;
    padding: 0;
    border-radius: 0;
}
.quantity  .input-text{
  outline: none;
  font-size: 16px;
  font-weight: bold;
  /* width: 100% !important; */
  width: 3.631em;
  border: 1px solid #ccc;
  border-radius: 0;
  height: 33px;
}
.quantity{
  display: inline-flex;
}

.woocommerce table.cart td.actions, 
.woocommerce #content table.cart td.actions, 
.woocommerce-page table.cart td.actions, 
.woocommerce-page #content table.cart td.actions{
    display: none;
}

.woocommerce .cart-collaterals .cart_totals, 
.woocommerce-page .cart-collaterals .cart_totals{
    // width: auto;
    // float: none;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button{
    background: $text-priamry;
    &:hover{
        background: $text-priamry;
    }
}
.woocommerce-billing-fields,
.woocommerce-additional-fields{
    h3{
        background: $text-priamry;
        padding: 1rem;
        color: #fff;
        text-transform: uppercase;
        margin: 1rem 0;
    }
}
h3.order_review_heading{
    background: $text-priamry;
    padding: 1rem;
    color: #fff;
    text-transform: uppercase;
}

.woocommerce .col2-set .col-1, 
.woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2{
    // width: auto;
    // float: none;
}

.woocommerce form .form-row input.input-text, 
.woocommerce form .form-row textarea{
    padding: 1rem;
    background: #fff;
}
.woocommerce-form-coupon-toggle{
    display: none;
}
.woocommerce{
    ul.products{

        li.product{
            .onsale {
                display: none;
            }

            h3,
            .woocommerce-loop-product__title,
            .woocommerce-loop-category__title {
                padding: 0;
                margin: 0;
                font-size: 1em;
                color: #83766d;
                line-height: 22px;
                height: 30px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }


            .price {
                color: $text-priamry; 
                font-weight: bold;

                @include tablet{
                    font-size: 1.6rem;
                    text-align: center;
                    font-weight: normal;
                }
            }
            .button{
                display:none;
            }
        }
        
    }
}

/* Account */
.woocommerce-account {

    .woocommerce-MyAccount-navigation,
    .woocommerce-MyAccount-content{
        float: none;
        width: auto;
    }
   
}



.woocommerce div.product form.cart .button{
    background: $background-priamry;
    border-radius: 0;
    width: 100%;
}
.woocommerce span.onsale{
    display: none;
}

.woocommerce div.product p.price{
    //color: $background-priamry;
}

.woocommerce div.product form.cart .button{
    
    padding: 0.518em 1em;
    width: 100%; 
}
.product_meta{
    display: none;
}
.woocommerce {
    .related{
        h2{
            text-align: center;
        }
        ul.products.columns-4{

            li.product:nth-of-type(2n){
                margin-right:0;
            }

            li.product{
                h2.woocommerce-loop-product__title{
                    text-align: left;
                    font-weight: normal;
                }
            }
        }
        
    }

    ul.products{
        li.product{
            // border-bottom: 2px solid #eee;
            :hover{
                // border-bottom: 2 solid $primary-color;
            }
        }
    }
}

.woocommerce div.product .product_title{
    font-size: 2rem;
}

.woocommerce div.product form.cart .variations select {
    max-width: 100%;
    min-width: 84%;
    display: inline-block;
    margin-right: 6px;
    height: 32px;
    font-size: 1.5rem;
    border-radius: 0;
    padding: 0 1rem;
}
.woocommerce div.product form.cart .variations td.value{
    text-align: right;
}
.woocommerce-order-details__title,
.woocommerce-column__title{

    background: $background-priamry;
    padding: 1rem;
    color: #fff;
}

.checkout-two-column-layout{
    background: $background-secondary;
    overflow: hidden;
}

.woocommerce form.checkout .express-one-page-checkout-main p.form-row input.input-text,
.woocommerce-checkout span.select2-selection.select2-selection--single{
    padding: 8px;
    border-radius: 0;
    border:1px solid #000;
}
