/*********************
    BREAKPOINTS
*********************/
/* Veriables
==============================================*/
/* Main
==============================================*/
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: arial, helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #83766d;
  line-height: 3rem;
  background: url(../images/bodybg.png) repeat;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: arial, helvetica, sans-serif;
}

h1 {
  font-size: 3.5rem;
  font-weight: 600;
}

h2 {
  font-size: 2.8rem;
}

/* Links */
a:link {
  color: #83766d;
}

a:link:hover {
  color: rgba(0, 0, 0, 0.6);
}

a:visited, a:active {
  color: #83766d;
}

/* Inputs */
input {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.5rem;
}

textarea {
  font-size: 1.5rem;
  padding: 1rem;
}

/* Layout Elements
==============================================*/
.button {
  display: inline-block;
  color: #83766d;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  border: 2px solid #83766d;
}

@media screen and (min-width: 768px) {
  .button {
    font-size: 1.6rem;
  }
}

.button-white {
  background-color: #fff;
}

section, footer, .content-area, main {
  margin: 0 auto;
}

/* Header
==============================================*/
header {
  position: relative;
}

.widget {
  margin: 0;
}

.site {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

@media screen and (max-width: 959px) {
  .site {
    padding: 0 5px;
  }
}

.header-bottom {
  position: relative;
}

@media screen and (max-width: 959px) {
  .header-bottom {
    background: #ED145B;
    border-bottom: 1px solid #fff;
  }
}

.header-bottom .site-branding__mobile {
  display: none;
  text-align: center;
  padding: 5px 0 0;
}

@media screen and (max-width: 959px) {
  .header-bottom .site-branding__mobile {
    display: block;
  }
}

.header-bottom .menu-toggle {
  display: none;
  background: #fff;
  border: 0;
  border-radius: 0;
  font-size: 3rem;
  outline-offset: 0;
  overflow: unset;
  padding-left: 0;
  cursor: pointer;
}

.header-bottom .menu-toggle:focus {
  outline: 0;
}

@media screen and (max-width: 959px) {
  .header-bottom .menu-toggle {
    background: none;
    display: block;
    position: absolute;
    -webkit-animation-delay: 0;
            animation-delay: 0;
    left: 0;
    padding: 0;
    color: #fff;
    padding: 10px;
  }
}

.header-bottom .site-branding {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 99;
  background: url(../images/bodybg.png) repeat;
  padding: 0 5rem;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.header-bottom .site-branding:hover {
  -webkit-transform: translate(-50%, -5px);
          transform: translate(-50%, -5px);
}

.header-bottom .site-branding__title {
  margin: 0;
}

@media screen and (max-width: 959px) {
  .header-bottom .site-branding {
    display: none;
  }
}

.main-navigation {
  margin: 2rem 0;
}

@media screen and (max-width: 959px) {
  .main-navigation {
    position: absolute;
    top: 103px;
    z-index: 999;
    display: none;
    background: #ED145B;
    margin: 0;
  }
}

.main-navigation ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 0;
  position: relative;
}

@media screen and (max-width: 959px) {
  .main-navigation ul.menu {
    display: block;
  }
}

.main-navigation ul.menu li {
  display: inline-block;
  line-height: initial;
}

.main-navigation ul.menu li a {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 0;
  display: block;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  position: relative;
  font-weight: bold;
}

@media screen and (max-width: 959px) {
  .main-navigation ul.menu li a {
    color: #fff;
  }
}

.main-navigation ul.menu li a:hover::before {
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.main-navigation ul.menu li a::before {
  content: attr(data-hover);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #f60;
  position: absolute;
  top: 50%;
  overflow: hidden;
  margin-top: -9px;
  width: 0;
  white-space: nowrap;
}

@media screen and (max-width: 959px) {
  .main-navigation ul.menu li {
    display: block;
    padding-left: 1.5rem;
    border-bottom: 1px solid #fff;
  }
}

.main-navigation ul.menu li.logo-custom a {
  text-indent: -999px;
  padding: 4rem 13rem 0;
  position: relative;
  z-index: 9;
}

@media screen and (max-width: 959px) {
  .main-navigation ul.menu li.logo-custom {
    display: none;
  }
}

.main-navigation ul.menu::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  background: url(../images/line_1.png) repeat-x left;
}

@media screen and (max-width: 959px) {
  .main-navigation ul.menu::before {
    display: none;
  }
}

.main-navigation ul.menu::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 10px;
  left: 0;
  background: url(../images/line_1.png) repeat-x left;
}

@media screen and (max-width: 959px) {
  .main-navigation ul.menu::after {
    display: none;
  }
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: center;
  margin: 2rem 0 0;
}

.header-search #secondary button {
  width: 36px;
  float: right;
  text-indent: -999px;
  background: url(../images/search.svg) no-repeat center;
  background-size: 16px;
  position: relative;
  border: 0;
  outline: 0;
  height: 36px;
}

.header-search #secondary .search-field {
  border: 0;
  margin: 0;
  outline: 0;
}

.header-search #secondary .search-form label {
  margin: 0;
}

.header-search #secondary .woocommerce-product-search {
  border: 1px solid #e1d9ca;
  display: block;
  margin: 0;
  padding: .225rem;
}

.header-cart {
  margin: 0 0 0 15px;
  color: #fff !important;
  font-size: 1.5rem;
}

.header-cart .icon {
  line-height: 18px;
  color: #f60;
  background: url(../images/shopping-bag.svg) no-repeat 0 0;
  background-size: 36px;
  display: inline-block;
  padding: 14px;
}

/* Mobile Menu
==============================================*/
.over-layout {
  overflow-y: hidden;
}

.over-layout .pre-scrim {
  position: absolute;
  opacity: 1;
  z-index: 1;
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: opacity .25s,visibility 0s linear .25s;
  transition: opacity .25s,visibility 0s linear .25s;
  background-color: rgba(18, 18, 18, 0.36);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.mobile-menu {
  display: none;
  margin-top: 80px;
}

.mobile-menu .menu {
  padding: 0;
  list-style-type: none;
}

.mobile-menu .menu a {
  padding: 0.6rem 1rem;
  display: block;
  text-align: center;
  text-decoration: none;
}

.mobile-menu .menu .menu-item:hover .sub-menu {
  display: block;
}

.mobile-menu .sub-menu {
  display: none;
  padding: 0;
  background-color: #fff;
  min-width: 140px;
  z-index: 1;
}

.mobile-menu .sub-menu .menu-item {
  padding: 0;
  display: block;
}

.mobile-menu .sub-menu .menu-item a {
  text-decoration: none;
  display: block;
  padding: 0.6rem 1rem;
}

.mobile-menu .sub-menu .menu-item a li {
  padding: 0;
  display: block;
  text-align: center;
}

.mobile-menu .sub-menu .menu-item a:hover {
  background-color: #ddd;
}

.banner {
  margin: 0 0 4rem;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.owl-theme .owl-dots .owl-dot {
  border: 0;
}

.owl-theme .owl-dots .owl-dot:focus {
  outline: 0;
}

.owl-theme .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
}

.owl-theme .owl-dots .owl-dot span:hover {
  background: #f60;
}

/* Categories
==============================================*/
.woocommerce .woocommerce-breadcrumb {
  background: url(../images/banner-1.jpg) no-repeat 0 0;
  padding: 5rem;
  background-size: cover;
  color: #fff;
}

.woocommerce .woocommerce-breadcrumb a {
  color: #fff;
}

.woocommerce-sidebar .widget-title {
  display: none;
}

.woocommerce-sidebar .product-categories {
  text-align: center;
  padding: 0;
}

.woocommerce-sidebar .product-categories li {
  display: inline-block;
  margin: 0 1rem;
}

.woocommerce-sidebar .product-categories li a {
  display: block;
  text-decoration: none;
  border: 1px solid #c5b9a8;
  color: #5b4840;
  padding: .5rem 1rem;
  font-size: 14px;
  text-transform: uppercase;
}

.woocommerce-sidebar .product-categories li a:hover {
  background: #5b4840;
  color: #fff;
}

.woocommerce-sidebar .product-categories li.current-cat a {
  background: #5b4840;
  color: #fff;
}

.woocommerce-products-header,
.woocommerce-result-count,
.woocommerce-ordering {
  display: none;
}

.woocommerce ul.products li.product {
  margin-bottom: 0;
}

@media screen and (max-width: 959px) {
  .woocommerce ul.products li.product {
    margin-bottom: 0 !important;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .woocommerce ul.products li.product {
    width: auto !important;
    float: none !important;
  }
}

.woocommerce ul.products li.product a {
  display: block;
  overflow: hidden;
}

.woocommerce ul.products li.product a img {
  border: 1px solid #ddd;
  padding: 5px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.woocommerce ul.products li.product a:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Shop
==============================================*/
.shop-section {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
}

.shop-section h2, .shop-section h3 {
  font-family: "Arial",sans-serif;
  font-size: 1.6rem;
  font-style: italic;
}

.shop-section__heading {
  text-align: center;
}

.form__email {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid #83766d;
}

.form__submit {
  width: 100%;
}

/* Footer */
.site-info {
  padding: 2rem 0;
  border-top: 1px solid;
  text-align: center;
}

.site-info__payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 959px) {
  .site-info__payment {
    display: block;
  }
}

.site-info ul {
  padding: 0;
  margin: 0;
}

.site-info ul li {
  display: inline-block;
  padding: 1rem;
}

.site-info ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
}

.site-info ul li a:hover {
  color: #fff;
  text-decoration: underline;
}

/* CopyRight */
.copyright {
  margin-top: 20px;
  text-align: center;
}

.copyright__social a {
  padding: 10px;
}

.copyright__body {
  margin: 40px 0;
}

.woocommerce .woocommerce-ordering select {
  padding: .5rem;
  font-size: 1.5rem;
}

.site-info__payment img {
  max-width: 50%;
}

/* Checkout */
.entry-header .entry-title {
  margin: 1rem 0;
}

/* Quantity*/
.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  display: none;
  margin: 0;
}

.woocommerce div.product form.cart div.quantity {
  margin: 0 0 2rem;
}

.quantity input.qty {
  appearance: textfield;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.quantity input.qty_button {
  -webkit-appearance: button;
  width: 40px;
  height: 33px;
  background: #f60;
  content: "\f068";
  font-family: fontawesome;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 33px;
  cursor: pointer;
  border: none;
  padding: 0;
  border-radius: 0;
}

.quantity .input-text {
  outline: none;
  font-size: 16px;
  font-weight: bold;
  /* width: 100% !important; */
  width: 3.631em;
  border: 1px solid #ccc;
  border-radius: 0;
  height: 33px;
}

.quantity {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.woocommerce table.cart td.actions,
.woocommerce #content table.cart td.actions,
.woocommerce-page table.cart td.actions,
.woocommerce-page #content table.cart td.actions {
  display: none;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
  background: #f60;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover {
  background: #f60;
}

.woocommerce-billing-fields h3,
.woocommerce-additional-fields h3 {
  background: #f60;
  padding: 1rem;
  color: #fff;
  text-transform: uppercase;
  margin: 1rem 0;
}

h3.order_review_heading {
  background: #f60;
  padding: 1rem;
  color: #fff;
  text-transform: uppercase;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
  padding: 1rem;
  background: #fff;
}

.woocommerce-form-coupon-toggle {
  display: none;
}

.woocommerce ul.products li.product .onsale {
  display: none;
}

.woocommerce ul.products li.product h3,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product .woocommerce-loop-category__title {
  padding: 0;
  margin: 0;
  font-size: 1em;
  color: #83766d;
  line-height: 22px;
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.woocommerce ul.products li.product .price {
  color: #f60;
  font-weight: bold;
}

@media screen and (max-width: 959px) {
  .woocommerce ul.products li.product .price {
    font-size: 1.6rem;
    text-align: center;
    font-weight: normal;
  }
}

.woocommerce ul.products li.product .button {
  display: none;
}

/* Account */
.woocommerce-account .woocommerce-MyAccount-navigation,
.woocommerce-account .woocommerce-MyAccount-content {
  float: none;
  width: auto;
}

.woocommerce div.product form.cart .button {
  background: #f60;
  border-radius: 0;
  width: 100%;
}

.woocommerce span.onsale {
  display: none;
}

.woocommerce div.product form.cart .button {
  padding: 0.518em 1em;
  width: 100%;
}

.product_meta {
  display: none;
}

.woocommerce .related h2 {
  text-align: center;
}

.woocommerce .related ul.products.columns-4 li.product:nth-of-type(2n) {
  margin-right: 0;
}

.woocommerce .related ul.products.columns-4 li.product h2.woocommerce-loop-product__title {
  text-align: left;
  font-weight: normal;
}

.woocommerce div.product .product_title {
  font-size: 2rem;
}

.woocommerce div.product form.cart .variations select {
  max-width: 100%;
  min-width: 84%;
  display: inline-block;
  margin-right: 6px;
  height: 32px;
  font-size: 1.5rem;
  border-radius: 0;
  padding: 0 1rem;
}

.woocommerce div.product form.cart .variations td.value {
  text-align: right;
}

.woocommerce-order-details__title,
.woocommerce-column__title {
  background: #f60;
  padding: 1rem;
  color: #fff;
}

.checkout-two-column-layout {
  background: #fff;
  overflow: hidden;
}

.woocommerce form.checkout .express-one-page-checkout-main p.form-row input.input-text,
.woocommerce-checkout span.select2-selection.select2-selection--single {
  padding: 8px;
  border-radius: 0;
  border: 1px solid #000;
}
/*# sourceMappingURL=main.css.map */